* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
body{
	background:scroll;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(38, 0, 58);
	color: #ffffff;
	overflow-x: hidden;

}
.container{
	background: linear-gradient(to left , #ffffff, #ffffff);
	display: sticky;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	position: relative;
	border: none;
}
div img:hover{
	opacity:0.5;
	transition: all 6ms;
}
div img{
	background: linear-gradient(to right, #ffb005, #ffb300);
	width: 70px;
	height: 60px;
	object-fit: contain;
	position: absolute;
	margin: 0 0 0 1.5rem;
	bottom: 0.5rem;
	border-radius: 20px;
	top: 0.5rem;
	
}
.nav-bar ul li a{
	text-decoration: none;
	padding: 0.5rem;
	margin: 0 1.0rem;
	border-radius: 5%;
	bottom: 1.5rem;
	font-size: medium;
}
.nav-bar ul li a:hover{
	color: rgba(173, 121, 0, 0.849);
	font-weight: 700;
	transition: all 3ms;
}
.nav-bar ul{
	display: flex;
	list-style: none;
	position: absolute;
	margin-left: 20%;
	top: 2.0rem;
}
.nav-bar ul li a{
	color: rgba(255, 200, 0, 0.829);
}

button{
	position: absolute;
	background-color: rgba(171, 132, 15, 0.899);
	border: none;
	color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5%;
	right: 15.5rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	bottom: 0.5rem;
	
}
#btn {
position: absolute;
	background-color: rgba(171, 132, 15, 0.899);
	border: none;
	color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5%;
	right: 5.5rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	bottom: 0.5rem;
}
#btn:hover{
	color: rgba(255, 255, 255, 0.801);
	font-weight: 700;
}
button:hover{
	color: rgba(255, 255, 255, 0.801);
	font-weight: 700;
}

.hero{
	background: linear-gradient(to right, #ffffff, #ffffff);
	display: flex;
	justify-content:center;
	align-items: center;
	width: 100vw;
	padding: 1rem 1.5rem;
	justify-content: center;
}


 .btn2{
position: absolute;
	background-color: rgba(171, 132, 15, 0.899);
	border:0.5px solid;
	color: rgb(255, 255, 255);
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 10%;
	right: 5.5rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	bottom: 1.5rem;
}

.btn2 a{
text-decoration: none;
color: rgb(255, 255, 255);	
	
}

#D{
	color:rgba(170, 147, 0, 0.859);
	padding: 0rem 1rem;
	cursor: pointer;
	top: 0.5rem;
	font-size: 1rem;
	border: none;
background: rgb(244, 244, 244);
}

.main-parent video{
	width: 50vw;
}
.one{
	font-size: x-large;
	
	
}
.main-parent{
	
}