* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
body{
	background: #3cc9fc;
	width: auto;
	height: 100%;

}
.container{
	background: linear-gradient(to right, #ffffff, #ffffff);
	display: sticky;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	position: relative;
	border: none;
}
div img:hover{
	opacity:	0.5;
	transition: all 6ms;
}
div img{
	background: linear-gradient(to right, #d4aa00, #ffad06);
	width: 70px;
	height: 60px;
	object-fit: cover;
	position: absolute;
	margin: 0 0 0 1.5rem;
	bottom: 0.5rem;
	border-radius: 10%;
	top: 0.5rem;
	
}
.nav-bar ul li a{
	text-decoration: none;
	padding: 0.5rem;
	margin: 0 1.0rem;
	border-radius: 5%;
	bottom: 1.5rem;
	font-size: medium;
}
.nav-bar ul li a:hover{
	color: rgba(191, 134, 0, 0.801);
	font-weight: 700;
	transition: all 3ms;
}
.nav-bar ul{
	display: flex;
	list-style: none;
	position: absolute;
	margin-left: 20%;
	top: 2.0rem;
}
.nav-bar ul li a{
	color: rgba(184, 150, 26, 0.829);
}

button{
	position: absolute;
	background-color: rgba(185, 129, 0, 0.882);
	border: none;
	color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5%;
	right: 15.5rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	bottom: 0.5rem;
	
}
#btn {
position: absolute;
	background-color: rgba(185, 129, 0, 0.882);
	border: none;
	color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 5%;
	right: 5.5rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	bottom: 0.5rem;
}
#btn:hover{
	color: rgba(255, 255, 255, 0.801);
	font-weight: 700;
}
button:hover{
	color: rgba(255, 255, 255, 0.801);
	font-weight: 700;
}

.hero{
	background: linear-gradient(to right, #ffffff, #ffffff);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	position: relative;
	padding: 3rem 3rem;
}
/* .video1{
	position: relative;
	left: 0;
	top: 0rem;
	width: 100%;
	height: 50%;
	transition: all 3ms;
	transition: ease-in-out;
	
}
.video2{
	position: relative;
	left: 0;
	top: 0rem;
	width: 80%;
	height: 50%;
	transition: all 3ms;
	transition: ease-in; */
	

/* .video3{
	position: relative;
	left: 0;
	top: 0rem;
	width: 100%;
	height: 50%;
} */

.container-1{
	background: linear-gradient(to right, #ffffff, #ffffff);
}
 .btn2{
position: absolute;
	background-color: rgba(194, 136, 0, 0.882);
	border:0.5px solid;
	color: rgb(255, 255, 255);
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;
	border-radius: 10%;
	right: 5.5rem;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	bottom: 1.5rem;
}

.btn2 a{
text-decoration: none;
color: rgb(255, 255, 255);	
	
}

#D{
	background-color: #000000;
	background: none;
	border: none;
	color:rgba(194, 130, 2, 0.859);
	padding: 0rem 1rem;
	cursor: pointer;
	border-radius: 5%;
	top: 0.5rem;
	font-size: 1rem;
}
#D{
	visibility:visible;
	
}
